p {
  font-size: 0.9rem !important;
  color: #565347;
};

@media (min-width: 768px) {
  p {font-size:1rem !important;}
}
@media (min-width: 1200px) {
  p {font-size:1.3rem !important;}
}

.mobileHide {
  @media (min-width: 768px) {
  height: 40%
  }
}

.verticalLink {
  background-color: #F5F5F5;
  align-items: center;
  padding: 1rem;
  border: 2px solid #565347;
  p {
    margin: 0;
  }
  @media (min-width: 768px) {
  height: 100%;
  padding: 0;
  }
}
